<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>98359032594-cilmpvq2kvj9664i0tgpjkfcmm3d8d0e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98359032594-cilmpvq2kvj9664i0tgpjkfcmm3d8d0e</string>
	<key>API_KEY</key>
	<string>AIzaSyBew8_FiRF2wlybrSRDOQ4OpFgrZQbm16g</string>
	<key>GCM_SENDER_ID</key>
	<string>98359032594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ibrhmdn.filemanager</string>
	<key>PROJECT_ID</key>
	<string>docupdate-771fb</string>
	<key>STORAGE_BUCKET</key>
	<string>docupdate-771fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98359032594:ios:9f9f6fadab03ceec</string>
	<key>DATABASE_URL</key>
	<string>https://docupdate-771fb.firebaseio.com</string>
</dict>
</plist>